<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>zisaku.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8E1B5FD11EE955D300ADCE4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E1B5FE51EE955D300ADCE4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E1B5FF01EE955D300ADCE4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
